@model WordCount.Models.Strings

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Strings</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.WriteString)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WriteString)
            @Html.ValidationMessageFor(model => model.WriteString)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.word)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.word)
            @Html.ValidationMessageFor(model => model.word)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
